stages:
  - test
  - coverage
  - deploy

junit:
  stage: test
  script:
    - ./gradlew test

generate_artifacts:
  stage: deploy
  script:
    - ./gradlew clean jar
  artifacts:
    paths:
      - build/libs/seng202.team5.App.jar

test_coverage:
  stage: coverage
  script:
    - ./gradlew test jacocoTestReport
    - echo "Coverage report generated"
  coverage: "/Total.*?([0-9]{1,3})%/"
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: app/build/reports/jacoco/test/jacocoTestReport.xml
    paths:
      - app/build/reports/jacoco/test/html/
      - app/build/jacocoHtml/
    expire_in: 30 days
  allow_failure: false
