/*
 * Color Palette:
 *
 * Light: #FDFFFB
 * OffWhite: #EEF1ED
 * Pinky: #E9D8ED
 * Bluey: #D8E5FD
 * GreenLight: #D5E6D4
 * Green: #8FAF8E
 * GreenDark: #447055
 * Dark: #04140B
 * OffBlack: #7B7B7B
 */

/* TEXT STUFF */
Label {
  -fx-font-family: "Quicksand Medium";
  -fx-font-size: 14px;
  -fx-text-fill: #04140b;
}

/* BUTTON STUFF */
Button {
  -fx-font-family: "Quicksand SemiBold";
  -fx-cursor: hand;
  -fx-font-size: 14px;
  -fx-text-fill: #04140b;
  -fx-background-color: #d5e6d4;
  -fx-background-radius: 10;
}

Button:hover {
  -fx-background-color: #8faf8e;
}

.button-active {
  -fx-background-color: #447055;
  -fx-text-fill: #fdfffb;
}

/* INPUT STUFF */
TextField {
  -fx-font-family: "Quicksand";
  -fx-font-size: 14px;
  -fx-text-fill: #04140b;
  -fx-prompt-text-fill: #7b7b7b;
  -fx-background-color: #eef1ed;
  -fx-background-radius: 10;
  -fx-border-radius: 10;
  -fx-border-color: transparent;
  -fx-padding: 10 15 10 15;
}

CheckComboBox {
  -fx-font-family: "Quicksand";
  -fx-font-size: 14px;
  -fx-text-fill: #04140b;
  -fx-background-color: #eef1ed;
  -fx-background-radius: 10;
  -fx-border-color: transparent;
  -fx-padding: 0;
  -fx-cursor: hand;
}

CheckComboBox:hover {
  -fx-background-color: #d5e6d4;
}

CheckComboBox > .combo-box {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-radius: 10;
  -fx-padding: 5;
}

CheckComboBox .list-view {
  -fx-background-radius: 10;
}

CheckComboBox > .combo-box .list-cell {
  -fx-background-color: transparent;
  -fx-background-radius: 10;
  -fx-border-color: transparent;
  -fx-cursor: hand;
  -fx-text-fill: #04140b;
}

CheckComboBox > .combo-box .list-cell:hover {
  -fx-background-color: #d5e6d4;
}

.check-box {
  -fx-font-family: "Quicksand";
  -fx-font-size: 14px;
  -fx-text-fill: #04140b;
  -fx-cursor: hand;
}

.check-box .box {
  -fx-background-color: #eef1ed;
  -fx-padding: 5px;
  -fx-border-radius: 6;
  -fx-background-radius: 6;
}

.check-box:selected .box {
  -fx-background-color: #d5e6d4;
}

Slider {
  -fx-padding: 5px;
}

Slider .track {
  -fx-background-radius: 10;
  -fx-border-radius: 10;
  -fx-padding: 1px;
  -fx-border-color: transparent;
}

Slider .thumb {
  -fx-background-color: #8faf8e;
  -fx-background-radius: 10;
  -fx-cursor: hand;
}

Slider .thumb:hover,
Slider .thumb:pressed {
  -fx-background-color: #d5e6d4;
}

ProgressBar {
  -fx-accent: #447055; /* Color of the filled portion */
  -fx-control-inner-background: #8faf8e; /* Color of the track */
  -fx-background-radius: 20;
  -fx-padding: 0;
}

ProgressBar .bar {
  -fx-background-radius: 20;
  -fx-border-color: transparent; /* Removes the border around the filled part of the bar */
  -fx-background-insets: 0;
}

ProgressBar .track {
  -fx-background-radius: 20;
  -fx-border-color: transparent;
  -fx-background-insets: 0;
}

/* SCROLL BAR STUFF */
.scroll-bar {
  -fx-background-color: #eef1ed;
  -fx-background-radius: 10;
}

.scroll-bar .thumb {
  -fx-background-color: #8faf8e;
  -fx-background-radius: 10;
  -fx-cursor: hand;
}

.scroll-bar .thumb:hover,
.scroll-bar .thumb:pressed {
  -fx-background-color: #d5e6d4;
}

/* GENERAL CLASSES */
.root-pane {
  -fx-background-color: #fdfffb;
}

.root-pane-dark {
  -fx-background-color: #000000;
}

.title {
  -fx-font-family: "Quicksand Bold";
  -fx-font-size: 26px;
}

.text-light {
  -fx-text-fill: #fdfffb;
}

.small-text {
  -fx-font-size: 12px;
  -fx-font-family: "Quicksand Regular";
}
