/*
 * Color Palette:
 *
 * Light: #FDFFFB
 * OffWhite: #EEF1ED
 * Pinky: #E9D8ED
 * Bluey: #D8E5FD
 * GreenLight: #D5E6D4
 * Green: #8FAF8E
 * GreenDark: #447055
 * Dark: #04140B
 * OffBlack: #7B7B7B
 */

Label {
  -fx-font-family: "Quicksand Medium";
  -fx-font-size: 14px;
  -fx-text-fill: #04140b;
}

Button {
  -fx-font-family: "Quicksand SemiBold";
  -fx-cursor: hand;
  -fx-font-size: 14px;
  -fx-text-fill: #04140b;
  -fx-background-color: #d5e6d4;
  -fx-background-radius: 10;
}

Button:hover {
  -fx-background-color: #8faf8e;
}

.button-active {
  -fx-background-color: #447055;
  -fx-text-fill: #fdfffb;
}

TextField {
  -fx-font-family: "Quicksand";
  -fx-font-size: 14px;
  -fx-text-fill: #04140b;
  -fx-prompt-text-fill: #7b7b7b;
  -fx-background-color: #eef1ed;
  -fx-background-radius: 10;
  -fx-border-color: transparent;
  -fx-padding: 10 15 10 15;
}

CheckComboBox {
  -fx-font-family: "Quicksand";
  -fx-font-size: 14px;
  -fx-text-fill: #04140b;
  -fx-background-color: #eef1ed;
  -fx-background-radius: 10;
  -fx-border-color: transparent;
  -fx-padding: 0;
  -fx-cursor: hand;
}

CheckComboBox:hover {
  -fx-background-color: #d5e6d4;
}

/* Style the internal components using JavaFX-specific selectors */
CheckComboBox > .combo-box {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-radius: 10;
  -fx-padding: 5;
}

CheckComboBox .list-view {
  -fx-background-radius: 10;
}

CheckComboBox > .combo-box .list-cell {
  -fx-background-color: transparent;
  -fx-background-radius: 10;
  -fx-border-color: transparent;
  -fx-cursor: hand;
  -fx-text-fill: #04140b;
}

CheckComboBox > .combo-box .list-cell:hover {
  -fx-background-color: #d5e6d4;
}

CheckComboBox > .combo-box .check-box {
  -fx-padding: 5px;
}

CheckComboBox > .combo-box .check-box .box {
  -fx-background-color: #eef1ed;
  -fx-border-color: #7b7b7b;
}

CheckComboBox > .combo-box .check-box:selected .box {
  -fx-background-color: #8faf8e;
}

.scroll-bar {
  -fx-background-color: #eef1ed;
  -fx-background-radius: 10;
}

.scroll-bar .thumb {
  -fx-background-color: #8faf8e;
  -fx-background-radius: 10;
  -fx-cursor: hand;
}

.scroll-bar .thumb:hover,
.scroll-bar .thumb:pressed {
  -fx-background-color: #d5e6d4;
}

.root-pane {
  -fx-background-color: #fdfffb;
}

.root-pane-dark {
  -fx-background-color: #000000;
}

.title {
  -fx-font-family: "Quicksand Bold";
  -fx-font-size: 26px;
}

.text-light {
  -fx-text-fill: #fdfffb;
}

.light-text {
  -fx-font-family: "Quicksand Light";
}

.regular-text {
  -fx-font-family: "Quicksand";
}

.medium-text {
  -fx-font-family: "Quicksand Medium";
}

.semibold-text {
  -fx-font-family: "Quicksand SemiBold";
}

.bold-text {
  -fx-font-family: "Quicksand Bold";
}
