/* ========================================
 * TEXT & TYPOGRAPHY
 * ======================================== */

.heading {
    font-family: "Quicksand SemiBold", sans-serif;
    font-size: 18px;
}

.pill {
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 12px;
}

.label {
    font-family: "Quicksand Medium", sans-serif;
    font-size: 15px;
    color: #04140b;
}

/* ========================================
 * INPUT ELEMENTS
 * ======================================== */


/* ========================================
 * GENERAL CLASSES
 * ======================================== */

.bg-pinky {
    background-color: #e9d8ed;
}

.bg-bluey {
    background-color: #d8e5fd;
}

.bg-greeny {
    background-color: #d5e6d4;
}

.round-corners {
    border-radius: 10px;
}

.container {
    display: flex;
    gap: 5px;
}
